# Requirements:
**Notes**
Need to add the one on malloc next. That'd be most useful.

## Each one needs:
* Some base code
* A number ( so that it can be done in order )
* Expected output ( written )
* A corresponding spoilers file

## Execrises needed:
* forloops
* pointers
* while loops
* arrays
* type declarations
* void vs void* 
* void functions

## Order:
1 * for 
2 * custom functions ( done )
3 * while 
4 * while to for 
5 * for from general code
6 * custom functions
7 * for
8 * pointers ( done )
9 * for 
12 * arrays
13 * arrays
10 * pointers with arrays
11 * pointers
14 * void functions
15 * functions that return pointers
16 * arrays
17 * for to while
18 * structs
19 * pointers with structs
20 * structs arrows
